
body{background: #333 url("images/background.jpg") bottom center no-repeat;}

#header{background: url("images/header.png") repeat;}
#header-search input.search-button{background: url("images/search.jpg") top repeat-x;}
#models-buttons span, #user-settings li a{color: #9dc779;}
table.models-list-table td a{color: #fff;}
table.models-list-table td a:hover{color: #333; background: #9dc779;}

#models-list{background: #9dc779;}
#models-list table.models-list-table td a{color: #333;}
#models-list table.models-list-table td a:hover{background: #fff;}
#models-buttons span{background: url("images/arrow.png") right center no-repeat;}

#index-icons ul li{background: url("images/block.png") repeat;}
#index-icons ul li:hover{background: url("images/block-hover.png") repeat;}
#index-icons ul li a{color: #333;}
#index-icons ul li:hover a, #index-icons ul li:hover a span{color: #fff;}

.button-light, .button-list, #show-filters{background-color: #79b243;}
.button-create{background: url("images/search.jpg") top repeat-x;}

div.footer-title a{color: #fff;}